@model IEnumerable<MagicVilla_Web.Models.DTO.VillaNbDTO>
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">Villas List</h1>
		</div>
		<div class="col text-end pt-1">
			<a asp-controller="VillaNb" asp-action="CreateVillaNbForm" class="btn btn-outline-primary">
				<i class="bi bi-plus-square-fill"></i> Create New Villa
			</a>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Villa Name</th>
				<th>Villa Number</th>
				<th>Special Details</th>
				<th>Actions</th>
		</thead>
		<tbody>
			@foreach (var villaNb in Model)
			{
				<tr>
					<td>@villaNb.Villa.Name</td>
					<td>@villaNb.VillaNumber</td>
					<td>@villaNb.SpecialDetails</td>
					<td>
						<a asp-controller="VillaNb" asp-action="UpdateVillaNbForm" asp-route-VillaNumber="@villaNb.VillaNumber" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
						<a asp-controller="VillaNb" asp-action="DeleteVillaNb" asp-route-VillaNumber="@villaNb.VillaNumber" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>